<!DOCTYPE html>
<html lang="en">
<style>
div.a {
  width: auto;
  border: 1px solid black;
}
</style>
<head>
  <title>Topic Modelling Results</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<body style="background-color:PaleTurquoise;">

<div class="container p-3 mb-2 bg-info text-white">
  <br>
  <br>
  <div>
  <a href="javascript:history.back()">Go Back</a>
  </div>
  <h1>Topic Modelling Machine Learning Model</h1>
  

<div class="container">
  <form class="form-inline" action="http://flaskexample-env-1.eba-hite3ihf.us-east-2.elasticbeanstalk.com/uploader" method = "POST" 
  enctype = "multipart/form-data">
    <div class="form-group">
      <label for="file">File:</label>
      <input type="file" class="form-control" id="file" name="file" required>
    </div>
    <div class="form-group">
      <label for="topic">Number of Topics:</label>
      <input type="text" class="form-control" id="topic" name="topic" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="export" name="export" class="btn btn-primary">Export</button>
  </form>
  </div>

<br>

<h3>Sample Input Data Format:</h3>

<br>
      <table class="table table-striped">
      <thead>
        <tr>
          <th>Review</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>This product so far has not disappointed. My children love to use it and I like the ability to monitor control what content they see with ease.
</td>
        </tr>

        <tr>
          <td>Inexpensive tablet for him to use and learn on, step up from the NABI. He was thrilled with it, learn how to Skype on it already...
</td>
        </tr>

        <tr>
          <td>I gave this as a Christmas gift to my inlaws, husband and uncle. They loved it and how easy they are to use with fantastic features!
</td>
        </tr>

        <tr>
          <td>Wanted my father to have his first tablet and this is a very good value. He can watch movies and play a few games. Easy enough for him to use.
</td>
        </tr>
                
      </tbody>
    </table>


</div>
</body>
</html>